.button {
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 18px;
  border-radius: 50%;
  margin: 0 1px;
  background-color: rgba(0,0,0,0.05);
  outline: none;
  border: none;
  padding: 0;
  color: #666;
  transition: background-color 0.3s, color 0.3s;
}
